
  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.navbar-brand{
    font-size: xx-large;
    font-weight: 500;
    font-family: 'Bungee Spice', cursive;
    font-weight: 600;
}

.nav-link{
    margin-top: 5px;
    margin-left: 30px;
}
.form-control{
    margin-top: 6px;
    height: 38px;
    width: 290px;
}


@media screen and (max-width: 992px) {

.nav-link{
    margin-left: 7px;
    margin-bottom: -10px;
}
.d-flex{
    margin-left: 7px;
}


}
